* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: back to back demo;
    font-weight: 50px;
    list-style: none;
}

*::selection {
    background-color: #b977f3;
    color: black;
}

/* cover */
.hero {
    width: 100%;
    height: 130vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* video {
    width: 100%;
    height: 200vh;
} */

/* Nav Bar */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 8%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav .logo-hover{
    opacity: 0;
    width: 80px;
    transition: opacity .2s ease;
}
nav .logo{
    width: 180px;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0;
    bottom: 0;
    margin-left: 55px;
    object-fit: contain;
    opacity: 1;
    transition: opacity .2s ease;
}
.figure:hover .logo-hover {
    opacity: 1;
}
.figure:hover .logo {
    opacity: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:  2.5rem;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    /* font-weight: 600; */
    letter-spacing: 0.04;
}
nav ul li a:hover {
    color: #d4b725;
    padding: .5rem 0;
    /* letter-spacing: 100; */
    transition: all .30s ease;
}
.hero ul a:hover {
    letter-spacing: 0.04cm;
    transition: all .30s ease;
}

ul a:hover, nav a.active {
    color: #d4b725;
    border-bottom: .2rem solid #d4b725;
    padding: 15rem 0;
    letter-spacing: 0.10;
    transition: all .30s ease-in-out;
    text-decoration: none;
}

nav div .figure {
    position: relative;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }