/* Page Content */
* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: back to back demo;
    font-weight: 50px;
    list-style: none;
}

*::selection {
    background-color: #b977f3;
    color: black;
}

/* HOME */

/* Title section */
.hero {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* video {
    width: 100%;
    height: 200vh;
} */

/* Nav Bar */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 8%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav .logo-hover{
    opacity: 0;
    width: 80px;
    transition: opacity .2s ease;
}
nav .logo{
    width: 180px;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0;
    bottom: 0;
    margin-left: 55px;
    object-fit: contain;
    opacity: 1;
    transition: opacity .2s ease;
}
.figure:hover .logo-hover {
    opacity: 1;
}
.figure:hover .logo {
    opacity: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:  2.5rem;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    /* font-weight: 600; */
    letter-spacing: 0.04;
}
nav ul li a:hover {
    color: #d4b725;
    padding: .5rem 0;
    /* letter-spacing: 100; */
    transition: all .30s ease;
}
.hero ul a:hover {
    letter-spacing: 0.04cm;
    transition: all .30s ease;
}

ul a:hover, nav a.active {
    color: #d4b725;
    border-bottom: .2rem solid #d4b725;
    padding: 15rem 0;
    letter-spacing: 0.10;
    transition: all .30s ease-in-out;
    text-decoration: none;
}

nav div .figure {
    position: relative;
}

.content {
    text-align: center;
}
.content h3 {
    font-size: 100px;
    color: #c8af2e;
    font-weight: 600;
    font-family: Pokemon Solid;
    text-shadow: 0 0 10px #d4b725, 0 0 0px #d4b725;
    
}
/* .content h3:hover {
    -webkit-text-stroke: 2px #d4b725;
    color: transparent;
} */

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 45px;
    padding: 14px 70px;
    border-radius: 50px;
    /* margin-top: 20px; */
    background-color: #d4b725;
}
.content a:hover {
    
    /* transition: all .30s ease; */
    /* color: #d4b725; */
    border: transparent;
    /* padding: 15rem 0; */
    /* font-size: 45px; */
    letter-spacing: 0.50;
    /* transition: all .30s ease-in-out; */
}

.back-video {
    display: flex;
    position: absolute;
    /* position: relative; */
    max-width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1;
    top: 0;
}


/* packages */
#packages {
    background: url(./images/Pokemon_Sleep.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    
}

#packages .container {
    position: relative;
    justify-content: center;
    display: flex;
    /* margin-top: 30px; */
}
.card {
    position: relative;
    bottom: 0px;
    background: #eee;
    color: #d4b725;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    transition: all ease 1s;
    z-index: 0;
    
}

.title {
    font-size: 14px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.price {
    margin-top: -25px;
    text-align: center;
}

.price h5 {
    font-size: 4em;
    margin-top: 20px;
    padding: 20px;
}
.price h5 sup {
    font-size: 25px;
}
.price p {
    margin-top: -135px;
    font-size: 12px;
    padding: 25px;
}
.option {
    position: relative;
    padding: 10px;
}

.option li {
    text-align: center;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
    list-style: none;
}
button {
    position: absolute;
    bottom: 5%;
    left: 30%;
    outline: none;
    border: none;
    background: #d4b725;
    color: #eee;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 1s;
    box-shadow: 0 0 8px #d4b725;
}

.card:hover {
    box-shadow: 0 0 0 20rem inset #d4b725;
    color: #eee;
    width: 270px;
    height: 420px;
}

.card:hover button {
    background: #eee;
    color: #d4b725;
}

/* Tilt */
/* .container{}
.tilt-box-wrap{
    width: 400px;
    height: 400px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}
.tilt-box-wrap:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
}
.tilt-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}
.tilt-box strong{
    transform: translateZ(40px);
}
.t_over{
    width:33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}
.t_over:nth-child(1){ left: 0; top: 0; }
.t_over:nth-child(2){ left: 33.333%; top: 0; }
.t_over:nth-child(3){ left: 66.666%; top: 0; }
.t_over:nth-child(4){ left: 0; top: 33.333%; }
.t_over:nth-child(5){ left: 33.333%; top: 33.333%; }
.t_over:nth-child(6){ left: 66.666%; top: 33.333%; }
.t_over:nth-child(7){ left: 0; top: 66.666%; }
.t_over:nth-child(8){ left: 33.333%; top: 66.666%; }
.t_over:nth-child(9){ left: 66.666%; top: 66.666%; }

.t_over:nth-child(1):hover ~ .tilt-box{ transfrom: rotateX(-20deg) rotateY(20deg) }
.t_over:nth-child(2):hover ~ .tilt-box{ transfrom: rotateX(-20deg) rotateY(0deg) }
.t_over:nth-child(3):hover ~ .tilt-box{ transfrom: rotateX(-20deg) rotateY(-20deg) }
.t_over:nth-child(4):hover ~ .tilt-box{ transfrom: rotateX(0deg) rotateY(20deg) }
.t_over:nth-child(5):hover ~ .tilt-box{ transfrom: rotateX(0deg) rotateY(0deg) }
.t_over:nth-child(6):hover ~ .tilt-box{ transfrom: rotateX(0deg) rotateY(-20deg) }
.t_over:nth-child(7):hover ~ .tilt-box{ transfrom: rotateX(20deg) rotateY(20deg) }
.t_over:nth-child(8):hover ~ .tilt-box{ transfrom: rotateX(20deg) rotateY(0deg) }
.t_over:nth-child(9):hover ~ .tilt-box{ transfrom: rotateX(20deg) rotateY(-20deg) }

 */



 @media (min-aspect-ratio: 16/9){
body {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    body {
        width: auto;
        height: 100%;
    }
} 

/* Packages */
/* #packages h1{
    color: white;
    text-align: center;
    font-weight: bold;
} */

/* Break */
#break {
    /* margin-top: 98px; */
    padding-bottom: 70px;
}
#break iframe{
    display: block;
    margin: 0 auto;
    /* margin-top: 0px; */
    margin-right: 35px;
    box-shadow: 10px 5px 5px;
    position: relative;
}
.vl {
    display: flex;
    border-left: 6px dotted #d4b725;
    height: 310px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    top: 70em;
}
.box {
    width:550px;
    padding-top:5px;
    /* border-style:dotted; */
    /* border-color:#336699; */
    border-width:1px;
    padding-left:3px;
    padding-bottom:10px;
    word-wrap: break-word;
    font-family: Apple Chancery;
    font-style: italic;
  }
  
  .recommend {
    margin-left: 65px;
  }
  
  .quotes_1 {
    font-size: 30rem;
    position: absolute;
    opacity: 0.09;
    /* top: 84rem; */
  }